* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    padding: 10px 0;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu-item {
    position: relative;
    margin: 0 20px;
}

.menu-item a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.menu-item a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #4CAF50;
}

.fecha {
    font-size: 0.9em;
    color: gray;
    margin: 5px 0;
}

.eventos {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

.eventos-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.evento {
    border: 2px solid #4CAF50;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    flex: 1;
    max-width: 30%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.evento img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.boton, .boton2, .boton3 {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    color: white;
    background-color: #4CAF50;
    text-decoration: none;
    border-radius: 5px;
}

.boton2 {
    margin-top: 3%;
}

.boton3 {
    margin-top: 12%;
}

.boton:hover, .boton2:hover, .boton3:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f1f1f1;
    position: relative;
    bottom: 0;
    width: 100%;
}