* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    padding: 10px 0;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}



.menu-item {
    position: relative;
    margin: 0 20px;
}

.menu-item a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.menu-item a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #4CAF50;
}

.introduccion {
    
    text-align: center;
    margin: 20px 0;
}

.introduccion h1 {
    font-size: 2.5em;
    color: #4CAF50;
    margin-bottom: 10px;
}

.introduccion p {
    font-size: 1.2em;
    color: #333;
    max-width: 600px;
    margin: 0 auto;
}

.introduccion-contenido {  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    margin: 20px 0; 
}  

.emoticono {  
    width: 65px; 
    height: auto; 
    margin-right: 30px; 
    margin-left: 12%; 
}  

.texto-introduccion {  
    text-align: center;   
    max-width: 600px; 
    margin-left: auto;  
    margin-right: 30%; 
}  

.carrusel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin-top: 1%;
}

.imagenes {
    display: flex;
    width: calc(300px * 6);
    animation: scroll 15s linear infinite;
}

.carrusel img {
    width: 505px;
    height: 300px;
    object-fit: cover;
}

.nombres-eventos div {
    width: 505px;
    text-align: center;
    font-size: 18px;
    color: #4CAF50;
    padding: 10px 0;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    16.66% { transform: translateX(-300px); }
    33.32% { transform: translateX(-600px); }
    49.98% { transform: translateX(-900px); }
    66.64% { transform: translateX(-1200px); }
    83.3% { transform: translateX(-1500px); }
    100% { transform: translateX(0); }
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 4.5%;
}

footer p {
    margin: 0;
    font-size: 16px;
}